
.comment-item {
  max-width: 640px;
  display: block;
  border: solid 1px rgb(175, 175, 175);
  padding: 16px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.comment-item p {
  margin: 0;
  padding: 1.5rem 0;
  border-top: solid 1px rgb(236, 236, 236);
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
  font-size: 12px;
}

.comment-footer {
  padding-top: 12px;
  border-top: solid 1px rgb(236, 236, 236);
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.comment-image {
  width: 60%;
  display: block;
  margin-inline: auto;
}

.comment-message {
  text-align: center;
}
